{% extends "base.html" %} {% block content %} {% load static %}

<section class="sectionTemplate homeSection" id="homeSection">
  <h1 class="display-1">Hi there! I'm Nardiéna.</h1>
  <h4 class="display-4 text-muted">This is my personal website created using Django and Javascript. Feel free to browse around!</h4>
  <div class="aboutMeButton">
    <a href="#aboutMeSection" class="btn btn-large waves-effect waves-light grey darken-4">More About Me</a>
  </div>
</section>

<section class="sectionTemplate aboutMeSection" id="aboutMeSection">
  <h4 class="display-4">I'm currently studying at the University of Queensland for my study abroad program.</h4>
</section>

<section class="sectionTemplate">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dicta saepe, porro maiores ratione, officiis inventore enim repellat placeat dolor totam voluptate libero nobis? Minus consequuntur pariatur quibusdam temporibus magnam!</p>
</section>



{% endblock %}  