{% extends "base.html" %} {% block content %} {% load static %}

<section class="sectionTemplate home-section" id="homeSection">
  <div class="home-name-div"><p>I'm Nardiéna.</p></div>
  <div class="home-job-title-div"><p>A web developer.</p></div>
  <!-- <div class="aboutMeButton">
    <a href="#aboutMeSection" class="btn btn-large waves-effect waves-light grey darken-4">More About Me</a>
  </div> -->
</section>

<section class="sectionTemplate about-me-section" id="aboutMeSection">
  <div class="profile-pic-div">
    <img id="profile-pic" src="/static/img/nard-profile-pic-circle.png">
  </div>
  <div class="hello-about-section-div"><p>Hello.</p></div>
  <div class="description-about-section-div"><p>I’m a third-year Computer Science student in the University of Queensland. 
    I am interested in web development and data science.</p></div>
</section>

<section class="sectionTemplate what-i-can-do-section" id="appsSection">
  <div class="section-title">what i can do</div>
  <div class="skill">I can make websites using HTML 5, CSS, Javascript, JQuery 
    (in fact, it’s what this website’s made of!), and currently learning React.
  </div>
  
  <div class="logos">
    <img class=" html-js-css" src="/static/img/html-js-css-logos.png">
    <img class="react" src="/static/img/reactjs-logo.png">
    
  </div>
 
  

  <div class="skill" style="float: right;">I know how to manipulate data with SQL, work with the Django 
    framework (again, used for this website) and currently learning the Flask.
  </div>

  <div class="logos">
    <img class=" html-js-css" src="/static/img/html-js-css-logos.png">
    <img class="react" src="/static/img/reactjs-logo.png">
    <img class="react" src="/static/img/reactjs-logo.png">
  </div>

  <div class="skill">I’m learning deployment using Amazon Web Services (AWS) as 
    well as using MongoDB Atlas as a cloud database service for my on-going project.
  </div>

  <div class="logos">
    <img class=" html-js-css" src="/static/img/html-js-css-logos.png">
    <img class="react" src="/static/img/reactjs-logo.png">
    
  </div>


</section>



{% endblock %}  